{% extends "boilerplate.html" %}

{% block title %}
Experience Details
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner" style="background-image: url('{{ experience.image }}');">
          <div class="banner-content">
            <h1>{{ experience.title }}</h1>
            <h2>Rating: {{ average_rating }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body py-0">
          <div class="row text-center my-2">
              <div class="col-lg-3">
                  <a class="btn btn-primary" href="https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination={{ to_shape(experience.coordinates).x }},{{ to_shape(experience.coordinates).y }}" target="_blank">
                      <i class="fas fa-compass"></i> Directions
                  </a>          
              </div>
              <div class="col-lg-3">
                  <a class="btn btn-primary" href="{{ url_for('rate_experience', experience_id=experience.id) }}">
                      <i class="fas fa-star"></i> Rate Experience
                  </a>        
              </div>
              <div class="col-lg-3">
                  <button class="btn btn-primary">
                      <i class="far fa-calendar-plus"></i> Add to Trip
                  </button>
              </div>
              <div class="col-lg-3">
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-share-alt"></i> Share
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('experience_detail', experience_id=experience.id, _external=True) }}" target="_blank">
                              <i class="fab fa-facebook-f"></i> Facebook
                          </a>
                          <a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ url_for('experience_detail', experience_id=experience.id, _external=True) }}&text=Check%20out%20this%20great%20experience!" target="_blank">
                              <i class="fab fa-twitter"></i> Twitter
                          </a>
                          <a class="dropdown-item" href="https://www.reddit.com/submit?url={{ url_for('experience_detail', experience_id=experience.id, _external=True) }}" target="_blank">
                            <i class="fab fa-reddit"></i> Reddit
                          </a>
                          <a class="dropdown-item" href="https://pinterest.com/pin/create/button/?url={{ url_for('experience_detail', experience_id=experience.id, _external=True) }}" target="_blank">
                            <i class="fab fa-pinterest"></i> Pinterest
                          </a>                                               
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
    <div class="row justify-content-center">
      <div class="col-lg-6 mx-auto">
        <div class="card mb-4">
        <div class="card-header">
            Information
        </div>
          <div class="card-body">
            <p class="card-text">{{ experience.description }}</p>
            <p><strong>Location:</strong> {{ to_shape(experience.coordinates).x }}, {{ to_shape(experience.coordinates).y }}</p>
            <p><strong>Country:</strong> {{ experience.country }}</p>
            <p><strong>State:</strong> {{ experience.state }}</p>
            <p><strong>Created By:</strong> {{ experience.user_username }}</p>
            <p><strong>Time Created:</strong> {{ experience.time_created }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header mb-2">
                Nearby Experiences
            </div>
            {% for nearby_experience in nearby_experiences %}
            <a href="{{ url_for('experience_detail', experience_id=nearby_experience.id) }}" style="text-decoration: none; color: inherit;">
                <div class="card mb-2 grow card-custom">
                    <div class="card-body">
                        <h5 class="card-title">{{ nearby_experience.title }}</h5>
                    </div>
                </div>
            </a>
            {% else %}
            <div class="card-body">
                <p class="card-text">No nearby experiences found.</p>
            </div>
            {% endfor %}
        </div>
    </div>     
    </div>

    <div class="row">  
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-header">
            Weather
          </div>
          <div class="card-body">
            {% if daily_averages is not none %}
              <ul class="forecast-list">
                {% for date, forecast in daily_averages.items() %}
                  <li>
                    <strong>{{ date }}</strong>: 
                    <img src="http://openweathermap.org/img/w/{{ forecast['icon'] }}.png">
                    {{ forecast['temp'] }}°F
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No weather data available.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

<style>
  body {
    background-color: #CCCCFF;
  }
  .banner {
    width: 100%;
    height: 42.5vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
  }

  .banner-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
  }

  .banner-content h1 {
    font-size: 2.5em;
  }

  .banner-content h2 {
    font-size: 2em;
  }

  .grow {
  transition: transform 0.1s;
}
.forecast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.forecast-list li {
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.grow:hover {
  transform: scale(1.03);
}

.card-custom {
    background-color: #a0d2eb;
    border-radius: 15px;
    width: 95%;
    margin: auto;
}

</style>

{% endblock %}
