{% extends "boilerplate.html" %}

{% block title %}
Experiences
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<body>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" style="height: 110vh; overflow-y: auto;">
          <div class="card-header">
            Experiences
          </div>
          <div class="card-body">
            {% for experience in experiences %}
            <a href="{{ url_for('experience_detail', experience_id=experience.id) }}">
              <div class="card mb-4 grow">
                <div class="card-body">
                  <h5 class="card-title">{{ experience.title }}</h5>
                  <p class="card-text">Average rating: {% if experience.average_rating %}{{ experience.average_rating|round(1) }}{% else %}Not yet rated{% endif %}</p>
                  <p class="card-text">{{ experience.description }}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="card mb-3">
          <h5 class="card-header">Search</h5>
          <div class="ms-3 me-3">
            <form id="locationForm">
              <div class="row">
                <div class="col">
                  <div class="input-group mt-3">
                    <input type="search" class="form-control" id="location" name="locate-address" placeholder="Search for an address to populate latitude and longitude" aria-label="LocateAddress">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <button type="submit" class="btn btn-success">Find Location</button>
                </div>
              </div>
            </form>
            <form action="/experiences" method="get" class="mb-4">
              <div class="row">
                <div class="col">
                  <div class="input-group mt-3">
                    <input type="search" class="form-control" id="search-input" name="keyword" placeholder="Experience name or description" aria-label="Search">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col mt-2">
                  <input type="search" class="form-control" id="latitude" name="latitude" placeholder="Latitude" aria-label="Latitude">
                </div>
              </div>
              <div class="row">
                <div class="col mt-2">
                  <input type="search" class="form-control" id="longitude" name="longitude" placeholder="Longitude" aria-label="Longitude">
                </div>
              </div>
              <div class="row">
                <div class="col mt-2">
                  <input type="search" class="form-control" id="state" name="state" placeholder="State" aria-label="State">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="input-group mb-3 mt-2">
                    <input type="text" class="form-control" aria-label="Search radius" placeholder="Search radius" name="radius">
                    <span class="input-group-text">miles</span>
                  </div>
                </div>
              </div>
              <div class="row justify-content-start">
                <div class="col-md-1 me-4">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/experiences?sort=highest_rating">Highest Rating</a>
                      <a class="dropdown-item" href="/experiences?sort=lowest_rating">Lowest Rating</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 me-4">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rating
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/experiences?star=5">5 Stars</a>
                      <a class="dropdown-item" href="/experiences?star=4">4 Stars</a>
                      <a class="dropdown-item" href="/experiences?star=3">3 Stars</a>
                      <a class="dropdown-item" href="/experiences?star=2">2 Stars</a>
                      <a class="dropdown-item" href="/experiences?star=1">1 Star</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <a href="/experiences" class="btn btn-danger ml-3">Clear Search</a>
                </div>
              </div>
              <div class="row justify-content-start mt-3">
                <div class="col">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>              
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            Experience Map
          </div>
          <div class="card-body">
            <div id="map" style="width: 100%; height: 41vh;"></div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</body>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script>
  mapboxgl.accessToken = '{{ mapbox_token }}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-74.5, 40],
    zoom: 0.1 // starting zoom
  });

  var experiences = {{ experiences|tojson|safe }};

  experiences.forEach(function(experience) {
    var coordinates = experience.coordinates.coordinates;

    new mapboxgl.Marker()
      .setLngLat(coordinates)
      .setPopup(new mapboxgl.Popup().setHTML("<h3>" + experience.title + "</h3><p>" + experience.description + "</p><button onclick=\"window.location.href='/experience/" + experience.id + "'\" class='btn btn-primary'>View Experience</button>"))
      .addTo(map);
  });

  var locationForm = document.getElementById('locationForm');
  var locationInput = document.getElementById('location');
  var latitudeInput = document.getElementById('latitude');
  var longitudeInput = document.getElementById('longitude');

  // Function to display latitude and longitude when form is submitted
  locationForm.addEventListener('submit', function(event) {
      event.preventDefault();
      var query = locationInput.value;

      // Use Nominatim geocoding service to convert user's search query to latitude and longitude
      var geocoder = L.Control.Geocoder.nominatim();
      geocoder.geocode(query, function(results) {
        if (results.length > 0) {
          var latlng = results[0].center;
          var lat = latlng.lat;
          var lng = latlng.lng;

          latitudeInput.value = lat;
          longitudeInput.value = lng;

        } else {
          alert('Location not found. Please try another search term.');
        }
      });
    });

</script>

<style>
  body {
    background-color: #CCCCFF;
  }
  .grow {
  transition: transform 0.1s;
}

.grow:hover {
  transform: scale(1.03);
}
</style>
{% endblock %}
