{% extends "boilerplate.html" %}

{% block title %}
Experiences
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<body>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-9 mx-auto">
        <form action="/experiences" method="get" class="mb-4">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="input-group">
                <input type="search" class="form-control" id="search-input" name="q" placeholder="Enter an experience or description" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <div class="col-md-1 mb-3 me-4">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/experiences?sort=highest_rating">Highest Rating</a>
                  <a class="dropdown-item" href="/experiences?sort=lowest_rating">Lowest Rating</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <a href="/experiences" class="btn btn-danger">Clear Search</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Scrollable experiences container -->
        <div style="height: 80vh; overflow-y: auto;">
          {% for experience in experiences %}
          <a href="{{ url_for('experience_detail', experience_id=experience.id) }}">
            <div class="card mb-4 grow">
              <div class="card-body">
                <h5 class="card-title">{{ experience.title }}</h5>
                <p class="card-text">Average rating: {{ experience.average_rating|round(1) }}</p>
                <p class="card-text">{{ experience.description }}</p>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">    
        <div id="map" style="width: 100%; height: 50vh;"></div>
      </div>
    </div>
  </div> 
</body>

<script>
  mapboxgl.accessToken = '{{ mapbox_token }}';
  var map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 0.1 // starting zoom
  });

  var experiences = {{ experiences|tojson|safe }};

  experiences.forEach(function(experience) {
    new mapboxgl.Marker()
      .setLngLat([experience.longitude, experience.latitude])
      .setPopup(new mapboxgl.Popup().setHTML("<h3>" + experience.title + "</h3><p>" + experience.description + "</p><button onclick=\"window.location.href='/experience/" + experience.id + "'\" class='btn btn-primary'>View Experience</button>"))
      .addTo(map);
  });
</script>

<style>
  .grow {
  transition: transform 0.1s;
}

.grow:hover {
  transform: scale(1.03);
}
</style>
{% endblock %}
